{erl_opts, [debug_info,
			{i, "include"},
		    {parse_transform, lager_transform},
			{parse_transform, ejson_trans}]}.
{sasl, [{errlog_type, error}]}.


{deps, [
	{jsx, ".*", {git, "git://github.com/talentdeficit/jsx.git"}},
	{lager, ".*", {git, "git://github.com/erlang-lager/lager.git"}},
	{ejson, ".*", {git, "git://github.com/jonasrichard/ejson.git"}},
	{qdate, ".*", {git, "git://github.com/choptastic/qdate.git"}},
	{mysql, ".*", {git, "git://github.com/mysql-otp/mysql-otp.git",
                   {tag, "1.3.2"}}},
	{jiffy, ".*", {git, "git://github.com/davisp/jiffy.git"}},
	{cowboy, ".*", {git, "git://github.com/extend/cowboy.git"}},
	{cowboy_session, ".*", {git, "git://github.com/dronowar/cowboy_session.git"}},
	{cowboy_session, ".*", {git, "git://github.com/dronowar/cowboy_session.git"}},
	{emodel, ".*", {git, "git://github.com/egobrain/emodel.git"}},
	{mysql_poolboy, ".*", {git, "git://github.com/mysql-otp/mysql-otp-poolboy",
                           {tag, "0.1.8"}}}
]}.
